MONGODB_URI=mongodb://root:root@mongo:27017/mydatabase?authSource=admin
MONGO_USER=root
MONGO_PASS=root
MONGO_DB=mydatabase
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8080
SONAR_TOKEN=sonar_token_placeholder
SPRING_PROFILES_ACTIVE=dev
LOGGING_LEVEL_ROOT=INFO