MONGODB_URI=mongodb://root:root@mongo:27018/cultura_db?authSource=admin
MONGO_DB=cultura_db
FRONTEND_URL=http://localhost:5173 # URL frontend (Vite)
VITE_API_BASE_URL=http://localhost:${PORT:-8080} # URL backend (Spring Boot)
PORT=8080
SPRING_PROFILES_ACTIVE=test
SEED_ENABLED=true
JWT_SECRET=test_secret_key_for_testing_with_more_length_to_reach_256_bits_minimum_requirement_for_jwt_algorithms_security
JWT_EXPIRATION=86400000
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx