# =========================
# Java / Spring Boot
# =========================
*.class
*.jar
*.war
*.nar
*.ear

target/
.mvn/wrapper/maven-wrapper.jar
HELP.md

hs_err_pid*
replay_pid*

# IDEs Java
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

# NetBeans (solo si lo usas)
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Node / Frontend (Vite + React)
# =========================
node_modules/
dist/
dist-ssr/
.vite/
*.local

# npm logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Environment variables
# =========================

.env
